body {
    /* background-color: #f8f9fa; */
    background-color: rgb(248, 249, 250);
}
.character-card {
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
}
.character-card:hover {
    scale:1.2;
}
.character-img {
    width: 100%;
    height: auto;
}